html,body, #map{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: gray;
}
#autocomplete{
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding-top: 10;
  text-overflow: ellipsis;
  width: 300px;
}
